* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
    margin-bottom: 10px;
}

header hr {
    width: 50%;
    margin: auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
}

.header-top a {
    text-decoration: none;
    color: black;
}

nav {
    width: 50%;
    margin: auto;
}

.task-container {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.task-card {
    /* border: 1px solid green; */
    width: 50%;
    background-color: rgb(235, 235, 238);
    display: flex;
    gap: 8px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #F0F4F6;
}

.task-header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid purple; */
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.task-header p {
    font-size: 14px;
}

.task-options {
    display: flex;
    /* border: 1px solid firebrick; */
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 4px;
}

.check-box {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.check-box:hover {
    color: rgb(102, 0, 128);
}

.task-date {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    color: rgb(255, 89, 0);
    gap: 2px;
}

.task-date p {
    font-size: 14px;
}

.date-icon {
    width: 20px;
    height: 20px;
}

form {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin: 8px;
}

#addTask-btn {
    padding: 10px;
    border-radius: 15px;
    background: #8146FF;
    color: white;
    border: none;
}